<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div>
            <h4><a href="{% url 'shortener:dashboard' %}">DASHBOARD</a></h4>  
            <br>
            <h4><a href="{% url 'shortener:home' %}">HOME</a></h4>
            <br>
            <h4><a href="{% url 'shortener:shorten' %}">SHORTEN</a></h4>
            <br>
            <h4><a href="{% url 'shortener:custom-shorten' %}">CUSTOM-SHORTEN</a></h4>
            <br>
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>