{% extends "home.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div>
        <h1><b>RECENT SHORT URLS</b></h1>
    </div>
    <br>
    <div>
        {% for url in urls %}
            <p>Original URL: {{url.original_url}}</p>
            <p>Short URL: {{server_name}}/{{url.short_url}}</p>
            <p>Created: {{url.created_at}}</p>
            <div>
                <button>QR CODE</button>
            </div>
        {% endfor %}
    </div>
    <br>
    <div>
        <h1><b>RECENT CUSTOM URLS</b></h1>
    </div>
    <br>
    <div>
        {% for url in custom_urls %}
            <p>Original URL: {{url.original_url}}</p>
            <p>Custom URL: {{server_name}}/{{url.custom_url}}</p>
            <p>Created: {{url.created_at}}</p>
            <div>
                <button>QR CODE</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}